@{ 
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="./css/ErrorView.css">
<div class="site" asp-action="Edit">
    <div class="sketch">
        <div class="bee-sketch red"></div>
        <div class="bee-sketch blue"></div>
    </div>

    <h1>
        Error:
        <small>No es posible eliminar el registro debido a una relación con otra tabla</small>
    </h1>
</div>