<link rel="stylesheet" href="~/css/site.css" />
<div class="text-center">
    <h1 class="display-4">Iniciar Sesión</h1>
    <form id="login-container" action="/Login" method="post">
        <input id="usuario" class="form-item" type="text" name="usuario" placeholder="Usuario" required>
        <input id="password" class="form-item" type="password" placeholder="Contraseña" name="password" required>
        <br/>
        <button type="submit" class="btn btn-primary" title="Ingresar" name="Ingresar">Login</button>
    </form>
</div>
