@model SistemaFacturacion.Models.Cliente

@{
    ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Crear Cliente</h1>

<br />
<hr />
<div class="container">
    <div class="row">
        <form method="post" asp-action="Create">
            <div class="form-group">
                <label asp-for="nombres" class="control-labael"> </label>
                <input asp-for="nombres" class="form-control" />
                <span asp-validation-for="nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidos" class="control-labael"> </label>
                <input asp-for="apellidos" class="form-control" />
                <span asp-validation-for="apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nit" class="control-labael"> </label>
                <input asp-for="nit" class="form-control" />
                <span asp-validation-for="nit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-labael"> </label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activo" class="control-labael"> </label>
                <select asp-for="activo" class="form-control">
                    <option value="" selected>Seleccione una opcion</option>
                    <option value="S">S</option>
                    <option value="N">N</option>
                </select>
                <span asp-validation-for="activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar Cliente" class="btn btn-primary" /> |
                <a asp-action="Index">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}